<h2><%= 'Shop Name: ' + @store.name %></h2>
<h3><%= 'Address: ' + @store.address %></h3>
<h3><%= 'Cost of 0.5l Berliner: €' + @store.beer_cost.to_s %></h3>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_store_path(@store) %>
<%= link_to 'Delete', store_path(@store), method: :delete, data: { confirm: "Are you sure?" } %>

